.about_us {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about_us_left > img{
    display: flex;
    width: 40rem;
    height: 27.5rem;
}

.about_us_right{
    padding-top: 0.5rem;
    padding-left: 1.2rem;
    padding-bottom: 0.5rem;
    padding-right: 1.2rem;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 27.5rem;
    background-color: black;
    justify-content: space-between;

}


.about_us_right > p{
    color: white;
}

.about_us_right > p:first-of-type{
    color: #0066cc;
    font-size: 1.2rem;
}

.about_us_right > p:nth-of-type(2){
    font-weight: bold;
    font-size: 1rem;
}

.about_us_right > p:nth-of-type(3){
    font-weight: bold;
    font-size: 0.8rem;
    text-align: justify;
}

.about_us_right > div{
    display: flex;
}

.about_us_right > div > p{
    color: #0066cc;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    padding-left: 0.5rem;
    gap: 0.3rem;
}

.about_us_right > div > p > span{
    color: white;
    font-weight: none;
    font-size: 0.7rem;
    text-align: justify;
}

.about_us_right > div > img{
    width: 4rem;
}

@media (max-width: 1000px) {
    .about_us {
        flex-direction: column;
    }

    .about_us_left > img{
        width: 20rem; 
        height: auto;
    }

}