.createMovieSession {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.searchMovie {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.movie_selection_name {
    display: flex;
}


.movie_selection_name > input{
    padding-left: 0.4rem;
    width: 10rem;
    height: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius:  0.5rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border: none;
}

.movie_selection_name > button{
    width: 2.5rem;
    height: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius:  0.5rem;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    border: none;
}

.movie_selection_name > button > img{
    width: 2.5rem;
    height: 2rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius:  0.5rem;
    background-color: white;
    cursor: pointer;
    border: none;
    background-color: black;
}

.movie_selection_name > input::placeholder{
    color: black;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    width: 66rem;
}

.movie_card_list {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    width: 22rem;
    height: 7rem;
    align-items: center;
    border-color: black;
    cursor: pointer;
}

.movie_card_list:hover {
    background-color: rgb(230, 230, 230);
}

.movie_card_list > img {
    height: 6rem;
    object-fit: cover;
}

.movie_card_list_informations {
    height: 6rem;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie_card_list_top {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem; 
}

.movie_card_list_top > h4 {
    width: 8rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    text-align: start;
}

.movie_card_list_bottom > p {
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 0.8rem;
    text-align: justify;
}

.movie_card_list_bottom {
    height: 60%;
    width: 100%;
}

.movie_card_list_bottom > p {
    display: -webkit-box;
    -webkit-line-clamp: 4; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    font-size: 0.8rem;
    text-align: justify;
}

.setInformations {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: start;
    width: 100%;
}

.movie_selection{
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.selectYellowModel > select {
    width: 30rem;
    background-color: #d48c29;
    height: 2rem;
    border-radius: 0.5rem;  
    font-weight: bold;
    cursor: pointer;
}

.selectYellowModel > label {
    display: flex;
    font-weight: bold;
    background-color: #d48c29;
    height: 1.2rem;
    border-radius: 0.5rem; 
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    width: fit-content;
    padding-right: 0.5rem;
    
}

.selectYellowModel > input {
    width: 30rem;
    background-color: #d48c29;
    height: 2rem;
    border-radius: 0.5rem;  
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.selectYellowModel > select > option {
    color: white;
}

.selectYellowModel > select > option:first-of-type {
    color: black;
    font-weight: bold;
}

.sessionInformations {
    height: auto;
    border-radius: 0.5rem;
    padding: 0.1rem;
    border:#305da8 solid 0.1rem
}

.sessionInformations1 {
    height: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border:#305da8 solid 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.modelChoose {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.button_select {
    border: none;
    cursor: pointer;
    height: 2.5rem;  
    width: 5.5rem;
    border-radius: 0.3rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-style: solid;
    border-color: #d48c29;
    background-color: #d48c29;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sections > div {
    padding: 1rem 1rem 1rem 1rem;
    height: auto;
    background-color: #141414;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sections > div > section {
    display: flex;
    justify-content: space-between;
}

.timeRoomFormatFrame {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timeRoomFormat {
    height: auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border:#d48c29 solid 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.timeRoom {
    display: flex;
    justify-content: space-between;
}

.inputTime{
    border: none;
    cursor: pointer;
    height: 2.5rem;  
    width: 5.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border-style: solid;
    border-color: #305da8;
    background-color: transparent;
    font-family: 'Roboto';
}

.button_select_add {
    border: none;
    cursor: pointer;
    height: 2.5rem;  
    width: 5.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    border-style: solid;
    border-color: #305da8;
    background-color: #305da8;
    font-size: 2rem;
}

.button_select_add:hover {
    border-color: #1148a8;
    background-color: #1148a8;
}

.button_select_add_session {
    border: none;
    cursor: pointer;
    height: 2.5rem;  
    width: 5.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    border-style: solid;
    border-color: #305da8;
    background-color: transparent;
    color: white;
    font-size: 2rem;
}

.button_select_add_session:hover {
    border-color: #1148a8;
    background-color: #1148a8;
}






.movie_card {
    width: 13.25rem;
    border: none;
    height: 20.75rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    align-items: center;
    overflow: visible;
    position: relative;
    padding-top: 8.5rem;
    margin-top: 7rem;
    cursor: pointer;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.44), 0 0.7rem 0.7rem rgba(0,0,0,0.35);
    transition: transform 0.4s, box-shadow 0.4s;
}

.movie_card:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.625), 0 1.5rem 1.5rem rgba(0,0,0,0.44);
    transition: transform 0.9s, box-shadow 0.4s;
}

.movie_card > img {
    width: 10.5195rem;
    height: 18,75rem;
    border-radius: 0.625rem;
    object-fit: cover;
    top: -35%;
    position: absolute;
}


.movie_card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.movie_card > div > h4 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 12rem;
}

.movie_genero {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.movie_genero > p {
    font-size: 0.8rem;
    font-family: var(--subtitulo-font);
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    background-color: #4B5940;
    border-radius: 1rem;
    padding: 0.4rem;
    height: 1.5rem;
    
}
.movie_card > div > div:first-of-type{  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
}

.movie_card > div > div:first-of-type > p{  
    display: flex;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    font-family: 'Roboto';
}

.movie_inf {
    width: 13rem;
    display: flex;
    flex-direction: column;
}

.movie_inf > p {
    font-family: var(--textofuncional-font);
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    color: #8E8380;
}

.movie_inf > p > span {  
    margin-top: 0.1rem;  
    color: black;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.2rem;
}

.movie_lancamento_true {
    display: flex;
    width: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 1.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--textofuncional-font);
    font-size: 0.6rem;
    color: white;
    background-color: forestgreen;
    border-radius: 0.5rem;
}

.movie_lancamento_false {
    display: flex;
    width: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--textofuncional-font);
    font-size: 0.6rem;
    color: white;
    background-color: crimson;
    border-radius: 0.5rem;
}

.movie_lancamento_false > p {
    font-family: var(--textofuncional-font);
    
}

.movie_lancamento_true > p {
    font-family: var(--textofuncional-font);
    
}

/* .movie_card > div > img {
    height: 1.24rem;
} */


.button_select_add_movie_session {
    border: none;
    cursor: pointer;
    height: 2.5rem;  
    width: 5.5rem;
    border-radius: 0.3rem;
    font-weight: bold;
    border-style: solid;
    border-color: #d48c29;
    background-color: #d48c29;
    color: white;
    font-size: 1rem;
}