.header {
    background-color:#0066CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem;
}

.header > div{
    width: 11.375rem;
    height: 2.875rem;
    display: flex;
    justify-content: space-between;
}

@media (max-width:500px) {
    .header {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

