.profile{
    display: flex;
    padding-top: 7rem;
    justify-content: center;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.profile_widgets {
    display: flex;
    flex-direction: column;
}

.profile_widgets > button {
    /* background-color: #d48c29; */
    background-color: #00264d;
    padding: 0.2rem;
    border: none;
    cursor: pointer;
    width: fit-content;
}

.profile_widgets > button:hover {
    background-color: #0066CC;

}

.profile_widgets > button:first-of-type {
    border-top-left-radius: 0.5rem;
}

.profile_widgets > button:last-of-type {
    border-bottom-left-radius: 0.5rem;
}

.profile_page {
    display: flex;
    max-width: 40rem;
    width: 100%;
    min-height: 25rem;
    height: auto;
    background-color: white;
    border-radius: 1.5rem;
    border-top-left-radius: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.profile_user {   
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 5rem;
}

.profile_user > form {   
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    width: 100%;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.profile_user > form > label {
    padding-top: 1rem;
    font-family: 'Poppins';
    padding-left: 0.2rem;
} 

.input_foto {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input_foto > label {
    position: absolute;
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
    border: 0.1rem solid black;
    box-sizing:content-box;
    justify-content: center;
    cursor: pointer;
    top: -7rem;
}

.input_foto > label > img {
    border-radius: 5rem;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.input_foto > input {
    display: none;
}

.profile_user > form > input {
    border-radius: 0.5rem;
    height: 2.688rem;
    border: 0.1rem solid black;
    background-color: transparent;
    padding-left: 1rem;
    font-family: 'Poppins';
}

.profile_user > form > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.profile_user > form > div > p {
    padding-left: 0.2rem;
    font-family: 'Poppins';
}

.profile_user > form > div > p > a{
    text-decoration: none;
}

.profile_user > form > button {
    padding-top: 1rem;
    background-color: transparent;
    cursor: pointer;
    border: none; 
}

.profile_user > p {
    font-family: 'Poppins';
    padding-top: 0.5rem;
}

.profile_user > p > a {
    text-decoration: none;
}

.profile_tickets {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    width: 100%;
    height: auto;
    position: relative;
    gap: 1rem;
}

.profile_tickets > h3 {
    font-family: "poppins";
    font-size: 2rem;
}

.tickets {   
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}

.ticket {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    padding: 1rem;
    background-color: #d48c29;
    border-radius: 1.5rem;
    gap:0.5rem;
    align-items: center;
    position: relative;
    z-index: 2;
}

.ticket h3{
    font-size: 1.5;
    font-family: "poppins";
}

.ticket p{
    font-size: 0.9rem;
    font-family: "poppins";
}

.section_movie_informations {
    display: flex;
    justify-content: space-between;
    width: 18rem;
}

.section_movie_informations > img {
    display: flex;
    width: 6rem;
    height: 9rem;
    object-fit: cover;
    border-radius: 1rem;
}
.section_movie_informations > section{
    width: 11rem;
}

.section_movie_informations > section > h3{
    
}

.section_movie_informations > section > p{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.section_session_informations {
    width: 18rem;
    display: flex;
    justify-content: space-between;
}

.section_session_informations > section {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 8rem;
}

.section_session_informations > section > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section_ticket_informations {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.section_ticket_informations > section {
    display: flex;
    align-items: top;
    gap: 0.2rem
}

.section_ticket_informations > section > p {
    display: flex;
    align-items: top;
}


.section_line {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    display: flex;   
    justify-content: space-between;
    max-width: 24rem;
    width: auto;
}

.section_line > div {
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 1.5rem;
}

.section_line > img {
    margin-left: 0.2rem;
}

.section_qr_code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.ticket_example {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    padding: 1rem;
    background-color: #d48c29;
    border-radius: 1.5rem;
    gap:0.5rem;
    align-items: center;
    opacity: 0.6; 
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.ticket_example > .section_movie_informations > div{
    display: flex;
    width: 6rem;
    height: 9rem;
    border-radius: 1rem;
    background-color: #a06a1e;
}

.ticket_example h3 {
    color: #a06a1e;
    background-color: #a06a1e;
}

.ticket_example p {
    color: #a06a1e;
    background-color: #a06a1e;
}

.ticket_example > .section_line > div {
    background-color: white;
}

.tickets > section:nth-last-of-type(2) {
    left: 3rem;  /* Ajuste conforme necessário */
    transform: scale(0.9) rotate(-6deg);
}

.tickets > section:last-of-type {
    right: 3rem; /* Ajuste conforme necessário */
    transform: scale(0.9) rotate(6deg);
}

.ticket_top_bar {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 0.2rem;
    padding-right: 0.2rem;
}

.ticket_top_bar > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: #d48c29;
    color: white;
    border-radius: 0.5rem;
}

.ticket_bottom_bar > button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #d48c29;
    font-size: 6rem;
}

.profile_receipts {
    display: none;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
}

.receipts {
    display: flex;
    width: 95%;
    flex-direction: column;
    align-items: center;
}

.receipts > p {
    color: #d48c29;
    width: 100%;
    border-bottom: #d48c29 solid 0.1rem;
    margin-bottom: 1rem;
}

.receipt {
    display: flex;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.receipt_informations {
    display: flex;
    width: 18rem;
    height: 6rem;
    background-color: #00264d;
    display: flex;
    border-radius: 0.5rem;
    border: none;
    text-align: start;
    font-family: "poppins";
    cursor: pointer;
} 

.receipt_informations:hover {
    background-color: #0066CC;
}

.receipt_informations > img {
    height: 6rem;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.receipt_informations > section {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 0.1rem;
    width: 100%;
}

.receipt_informations > section > h4 {
    color: white;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.receipt_informations > section > section:first-of-type {
    display: flex;
    justify-content: space-between;
}

.receipt_informations > section > section:first-of-type > p {
    display: flex;
    color: white;
    align-items: center;
    font-size: 0.8rem;
    text-align: justify;
    width: auto;
}

.receipt_informations > section > section:last-of-type {
    display: flex;
    color: white;
    align-items: top;
}


.receipt_informations > section > section:last-of-type > p {
    text-align: justify;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_wallet {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
    display: none;
    gap: 1rem;
}

.profile_wallet button {
    border: none;
    cursor: pointer;
}

.profile_wallet > h3 {
    font-size: 2rem;
}

.profile_wallet > section {
    width: 95%;
}

.profile_wallet > section > h2 {
    color: #d48c29;
    width: 100%;
    border-bottom: #d48c29 solid 0.1rem;
    margin-bottom: 1rem;
}

.profile_wallet > section > section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_card > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5rem;
    background-color: red;
}

.profile_help {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
    display: flex;
    gap: 1rem;
}

.profile_help > h3 {
    font-size: 2rem;
}

.profile_help  > section {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile_help  > section > h2 {
    color: #d48c29;
    width: 100%;
    border-bottom: #d48c29 solid 0.1rem;
    margin-bottom: 1rem;
}

.doubt_list > section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.doubt_list > section > p {
    text-align: justify;
}

.doubt_list > section > p:first-of-type {
    color: #d48c29;
}

.contact_list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact_list > p {
    color: #d48c29;
}

.contact_list > p > span {
    color: black;
}

@media (max-width: 500px) {

    .profile {
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
    }

    .profile > section {
        border-top-left-radius: 1.5rem
    }

    .profile > section:first-of-type {
        margin-bottom: 7rem;
    }

    .profile_widgets {
        flex-direction: row;
    }

    .profile_widgets > button:first-of-type {
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0rem;
    }

    .profile_widgets > button:last-of-type {
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0rem;
    }
    
    .tickets > section:nth-last-of-type(2) {
        display: none;
    }
    
    .tickets > section:last-of-type {
        display: none;
    }
}